Options -MultiViews
RewriteEngine On

# Handle Angular and React Router paths
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteCond %{REQUEST_URI} !\.(?:css|js|ico|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot)$ [NC]
RewriteRule (.*) index.html [L]

# Handle static assets
<filesMatch "\\.(css|js|ico|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot)$">
  Header set Cache-Control "max-age=31536000, public"
</filesMatch>